*,
* > * {
  box-sizing: border-box;
}

body{
    background-color: hsl(228, 57%, 86%);
    display: grid;
    place-content: center;
    height: 100vh;
    margin: 0;
    font-size: 11px;
    font-family: Arial, sans-serif;
}


.qr-container{
    border-radius: 15px;
    background-color: white;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.qr{
    align-items: center;
    display: flex;
    justify-content:center;
    height: 20rem ;
    width:  300px ;
    border-radius: 15px;
    padding: 5px;
    margin: 15px;
}

.text-1{
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-weight: 700;
    font-size: 3vh;
    color: hsl(218, 44%, 22%);
}

.text-2{
    font-weight: 400;
    font-size: 2.3vh;
    margin: 0;
    padding: 0 0 25px 0;
    text-align: center;
    color: hsl(220, 15%, 55%);
}


 /* for desktop */
@media screen and (min-width: 992px) {
    .qr {
        height: 20rem;
        width: 300px;
    }
    .text-1 {
        font-size: 3vh;
    }
    .text-2 {
        font-size: 2.3vh;
    }
}


/* for tablet */
@media screen and (max-width: 767px) {
    .qr {
        height: 20rem;
        width: 300px;
    }
    .text-1 {
        font-size: 1.9vh;
    }
    .text-2 {
        font-size: 1.9vh;
    }
}


